.text-chibo .title {
    font-size: 18px;
    font-weight: 540;
    margin: 30px 0px 7px 15px;
}

.text-chibo .text-list-chibo .text-items-list-chibo {
    margin: 0px 0px 0px 35px;
    line-height: 25px;
}