* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
}

#main {
    background: rgba(0, 0, 0, 0) url(../images/abum/img_ass.jpg) repeat scroll 0 0;

}

body {
    margin: 0;
}

.thumnail {
    width: 1170px;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.header {
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 10;
}

/* custom css */
.title-category {
    display: flex;
    align-items: center;
    background-color: rgb(103, 200, 112);
    padding-bottom: 2px;
    padding: 5px 5px 5px 20px;
}

.title-category img {
    padding: 0 10px 0 0;
}


/* Welcome... */
.box {
    display: flex;
}

.box .inner {
    width: 100%;
    height: 33px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner {
    color: red;
    transform-origin: left;
    transform: perspective(800px) rotateY(360deg);
    line-height: 33px;
    text-shadow: 2px 2px 8px #FF0000;
}

.box .inner span {
    position: absolute;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

/* end */


.widget {
    padding: 0 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.content-menu .menu-list {
    background-image: linear-gradient(#19962a, #74d07c);
}

.notify {
    background-image: linear-gradient(#19962a, #74d07c);
}

.items-list-h3 {
    margin: 10px;
    padding: 10px 10px 0 10px;
    color: #fff;
}

.item-h3 {
    background-color: rgb(86, 189, 97);
}

.h3-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(98, 21, 21, 0.06) 0px 0px 0px 1px;
    text-align: center;
}

.h3-item .items-list-h3 {
    padding: 10px 0;
    color: yellow;
}

.col-left {
    width: 260px;
    background-color: #ffffff;
}

.col-left .col-left-items {
    background-color: #56bd61;
}

.col-leFt-items {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.col-right {
    width: calc(100% - 260px);
    padding: 5px 10px 10px;
    background-color: #ffffff;
}

.section-1 {
    display: flex;
}

.section-1 .wrapper-left {
    width: 65%;
    padding-right: 10px;
    background-color: #fff;
    display: flex;
}

.section-1 .wrapper-right {
    width: 35%;
    padding-left: 10px;
    background-color: #fff;
}

.section-2 .wrapper {
    background-color: #fff;
}


/* hover menu */
.wrapper-menu .nav .menu-items:hover a {
    color: yellow;
}

.wrapper-menu .nav .menu-items .sub-nav li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.wrapper-menu .nav .menu-items .sub-nav li:hover {
    background: #E0EBC9 none repeat-x scroll left top;
}

.wrapper-menu .nav .menu-items .sub-nav {
    display: none;
    background: #f0f0f0 none repeat-x scroll left top;
    box-shadow: 0 6px 10px rgb(0 0 0 / 30%);
    color: #111111;
    left: 0;
    position: absolute;
    text-align: left;
    top: 95%;
    min-width: 200px;
    z-index: 1000;
}

.wrapper-menu .nav .menu-items .sub-nav .sub-menu-item {
    list-style: none;
    text-decoration: none;
    padding: 6px 15px;
}

.wrapper-menu .nav .menu-items:hover .sub-nav {
    display: block;
}

/* end */


.banner .thumnail {
    margin: auto;
    display: block;
}

/* .nav .sub-nav {
    float: left;
    text-align: center;
} */

.wrapper-menu {
    background-image: linear-gradient(#19962a, #74d07c);
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav .menu-items {
    list-style-type: none;
    padding: 10px 15px;
    position: relative;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.text-header {
    text-align: center;
    color: red;
}

.menu-list {
    list-style-type: none;
    line-height: 30px;
}

.content-link {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #333;
    padding: 0 20px;
    font-weight: 600;
}

.menu-list>a:hover {
    color: #19962a;
    background-color: #ccc;
}

.content-menu>ul {
    padding: 0;
    margin: 0;
}

.items-class {
    list-style-type: none;
}

.items-class>a:hover {
    color: yellow;
}

.items-list {
    text-decoration: none;
    line-height: 30px;
    font-weight: 300;
}

.images-list {
    width: 260px;
    height: 90px;
}

.abum-list {
    background-color: #fff;
    line-height: 25px;
}

.abum-list .password {
    padding: 0 20px;
}

.link-pl {
    max-width: 100%;
}

.access-items {
    list-style-type: none;
    padding: 0 20px;
}

.access-items>li:hover {
    display: block;
    color: #19962a;
}

.password {
    list-style-type: none;
}

.Password:hover {
    color: blue;
}

input.btnLogin {
    background: #56bd61;
    color: #fff;
    margin-top: 15px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: red;
}

input.txtCapcha {
    width: 52px;
}

a.Password {
    text-decoration: none;
    padding-right: 20px;
}

li.liButtonLogin {
    display: flex;
    justify-content: flex-end;
    padding-right: 33px;
}

li.liAdvance {
    display: flex;
    justify-content: flex-end;
}

.text-list {
    text-align: justify;
    margin: 0 8px;
}

.img-list .img-items-list {
    width: 60px;
    height: 50px;
}

.box-image {
    width: 50%;
    height: 68%;
    border: 1px solid rgb(204, 204, 204);
}

.box-image .image {
    width: 100%
}

.post-list {
    width: 50%;
    height: 68%;
    border: 1px solid rgb(204, 204, 204);
}

.post-list ul .post-item {
    display: flex;
    padding: 4px 4px;
    margin: 5px;
    position: relative;
    font-weight: 300;
}

.post-list ul .post-item:hover {
    background: #19962a;
}

.box-hover-img {
    position: absolute;
    top: 0;
    left: -286px;
}

.box-hover-img img {
    width: 275px;
    height: 320px;
}

.img-gt .image-gt {
    margin-top: 10px;
}

.text-tintuc {
    text-align: justify;
}

.news-events .tintuc-sukien {
    height: 30px;
    line-height: 30px;
}

.sukien {
    display: flex;
    position: relative;
}

.sukien1 {
    position: absolute;
    top: -89px;
    left: 142px;
}

.wrapper {
    border: 1px solid #ccc;
}

.wrapper-right>h4 {
    color: red;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.new-text {
    color: purple;
}

.new-text:hover {
    color: blue;
}

.text-sukien-tintuc .text-List {
    list-style-type: none;
}

.text-sukien-tintuc .text-Items-list a {
    text-decoration: none;
}

.text-Items-list .icon-blue {
    color: blue;
}

.text-sukien-tintuc .text-List {
    padding-left: 10px;
    margin: 5px 0 16px 0;
}

.text-List li a {
    line-height: 35px;
}

.text-Items-list a {
    color: #333;
    font-weight: 200;
}

.text-Items-list a:hover {
    color: blue;
}

.banner-HCM img {
    width: 890px;
    height: 123px;
    margin-bottom: 13px;
}

.wrapper-2 {
    display: flex;
    justify-content: space-between;
}

.col-left-footer {
    width: 49%;
}

.col-right-footer {
    background: #ffffff;
    width: 49%;
}

.tkb {
    display: flex;
    align-items: center;
}

h3.tkb {
    background-color: rgb(103, 200, 112);
}


.lichhoc .tkb {
    padding: 5px 5px 5px 20px;
    background-color: rgb(103, 200, 112);

}

.lichhoc {
    border: 1px solid #ccc;
}

.lich-tkb h4 {
    padding: 15px 10px 25px 10px;
}

.tkb-list .tkb-list-items {
    padding: 0 0 20px 10px;
}

.lich-tkb {
    line-height: 15px;
}

.lich-tkb .tkb-list {
    list-style-type: none;
}

.tkb-list .tkb-list-items a {
    text-decoration: none;
    color: #333;
}

.tkb-list .tkb-list-items a:hover {
    color: blue;
}

.lich-tkb {
    background: #ffffff;

}

.tkb-list-items .icons-items {
    padding: 0 5px 0 0;
}

.tkb-list-items .icons-items {
    color: red;
}

.learn {
    display: flex;
    align-items: center;
    background-color: rgb(93 156 99);
    padding-bottom: 2px;
    background-color: rgb(103, 200, 112);
    padding: 5px 5px 5px 20px;
}

.learn-item {
    margin-top: 10px;
}

.learn .learn-h3 {
    background-color: rgb(103, 200, 112);
}

.learn-h3 {
    display: flex;
    align-items: center;
}

.hocTD .img-td {
    width: 130px;
    height: 95px;
}

.learn-item {
    display: flex;
}

.learn-1 .learn-h4 {
    padding: 10px;
}

.list-monhoc {
    list-style-type: none;
}

.list-items-monhoc a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    line-height: 35px;
}

.list-items-monhoc a:hover {
    color: blue;
}

.icons-blue {
    color: blue;
    padding: 0 7px 0 0;
}

.learn-content {
    border: 1px solid #ccc;
}

.ATGT {
    margin-top: 15px;
    border: 1px solid #ccc;
}

.question-list {
    list-style-type: none;
    margin-bottom: 30px;
}

.question-list-items a {
    color: #333;
    text-decoration: none;
    line-height: 30px;
}

.question-list-items a:hover {
    color: blue;
}

.question-1 {
    margin: 15px 0 20px 7px;
}

.icon-blue {
    padding-left: 10px;
}

.footer {
    background-color: #55cf65;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-list {
    text-align: center;
    margin: 10px;
    color: #FF0000;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}

.address-list-items {
    text-align: center;
    color: rgb(246, 246, 66);
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
}